<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>Handling User Input</title>
</head>
<body>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Jika tombol di klik maka kalimat di atas akan di reverse.</button>
    </div>

    <script>
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello World!'
            },
            methods: {
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
    
</body>
</html>