<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Conditional and Loops</title>
</head>
<body>

    <h5>Condition</h5>
    <div id="app-3">
        <!-- function for conditional -->
        <p v-if="seen">Now you see me</p>
        <p v-if="seenTwo">Now you see me too</p>
        <p v-if="seenThree">No, you cant see me</p>
    </div>
    <h5>Looping</h5>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
            {{ todo.text }}
            </li>
        </ol>
    </div>
    
    <script>

        var app3 = new Vue({
            el: '#app-3',
            data: {
                // boolean
                seen: true,
                seenTwo: true,
                seenThree: false
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
                ]
            }
        })

    </script>

</body>
</html>