<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>Learn Vue</title>
</head>
<body>

    <div id="app">
        <!-- render data ke DOM -->
        {{ greet }}, {{ firstName }} {{ lastName }}
    </div>
    <br>
    <div id="app-2">
        <!-- binding data ke element value -->
        <input type="text" v-bind:value="message">
    </div>
    <br>

    <script src="welcome.js"></script>
    
</body>
</html>